<?xml version="1.0" encoding="utf-8"?>
<module>
	<name>SHOUTcast Manager</name>
	<version>101</version>
	<type>user</type>
	<defaultcat>Advanced</defaultcat>
	<desc>Manage SHOUTcast servers with Sentora.</desc>
	<authorname>Mathieu Légaré</authorname>
	<authoremail>levelkro@yahoo.ca</authoremail>
	<authorurl>http://www.sentora.org/</authorurl>
	<updateurl>http://zppy-repo.mach-hosting.com/repo/shoutcast_client.xml</updateurl>
</module>
